@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&display=swap');

:root {
    --color-base-00: #000;
    --color-base-05: #080808;
    --color-base-10: #111;
    --color-base-20: #1a1a1a;
    --color-base-25: #222;
    --color-base-30: #333;
    --color-base-35: #363636;
    --color-base-40: #4a4a4a;
    --color-base-50: #666;
    --color-base-60: #999 --color-base-70: #bbb --color-base-100: #fff;

    --background-primary: var(--color-base-00);
    --background-secondary: var(--color-base-05);
    --titlebar-background: var(--color-base-00);
    --titlebar-background-focused: var(--color-base-10);
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

h1 {
    color: #f3f3f3;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

img {
    color: #f3f3f3;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 20px auto;
}

#messages {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    color: #fff;
    font-size: 10px;
}

#message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: #999;
    background-color: #222;
    resize: none;
    -webkit-app-region: no-drag;
    border: 1px soldi #fff;
}

textarea:focus {
    border: 1px solid #bbb;
    transition: 0.4s;
    outline: 1px solid #aaa;
}

#send-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #222;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #fff;
    -webkit-app-region: no-drag;
}

#close-button:hover {
    background-color: #111;
    transition: 0.5s;
}

#close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
    padding: 0;
    font-weight: bold;
    color: #444;
    background-color: #222;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #444;
    -webkit-app-region: no-drag;
}

#send-button:hover {
    background-color: #111;
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav button a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    text-transform: uppercase;
    transition: 0.3s;
    -webkit-app-region: no-drag;
    display: flex;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidenav button a svg {
    margin-right: 5px;
}

.sidenav button a:hover {
    color: #f1f1f1;
    transition: 0.3s;
    fill: #f1f1f1;

}

.sidenav button {
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

main {
    margin-left: 220px;
    margin-right: 20px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
}

.page {
    display: none;
}

.active {
    display: block;
}


#connect-disconnect-button {
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    background-color: green;
    cursor: pointer;
    font-size: 24px;
    transition: 0.5s;
    border: 1px solid #fff;
    -webkit-app-region: no-drag;
    text-transform: uppercase;
}

#connect-disconnect-button:hover {
    background-color: #111;
    transition: 0.5s;
}

#conn-status {
    color: red;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

#conn-status svg {
    margin-right: 5px;
}

.connection {
    margin: 5% auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

.conn-conf {
    -webkit-app-region: no-drag;
}

#host-input,
#port-input {
    padding: 10px;
    box-sizing: border-box;
    color: #999;
    background-color: #222;
    resize: none;
    -webkit-app-region: no-drag;
    border: 1px solid #fff;
    text-decoration: none;
}

#host-input:focus,
#port-input:focus {
    border: 1px solid #bbb;
    transition: 0.4s;
    outline: 1px solid #aaa;
}

#host-input {
    width: 50%;
}

#port-input {
    width: 10%;
}

#error {
    position: absolute;
    left: 220px;
    bottom: 10px;
    background-color: #f00;
    padding: 10px;
    font-size: 14px;
    color: #aaa;
    border: 1px solid #fff;
    display: none;
}

#error svg {
    margin-right: 5px;
}

#home {
    margin: 5% auto;
}

#shell {
    margin-top: 5%;
}

#info>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

#info>div>h4 {
    color: #fff;
    font-size: 16px;
}

#info>div>p {
    color: #ffffff9d;
    font-size: 12px;
    margin-left: auto;
}

.exploitsConainer {
    width: 100%;
}

.exploitsCategories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

.exploitsCategories button {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
    font-weight: bold;
}


.exploitsCategories button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #080808;
}

.basicMods {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-app-region: no-drag;
}

.basicSide {
    width: 50%;
    margin: 1%;
}

.basicSide>div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.basicSide>div>p {
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.basicSide>div>button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.basicSide>div>button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #080808;
}

.basicSide>div>input {
    padding: 10px;
    box-sizing: border-box;
    color: #999;
    background-color: #222;
    resize: none;
    -webkit-app-region: no-drag;
    border: 1px solid #fff;
    text-decoration: none;
}

.basicSide>div>input {
    border: 1px solid #bbb;
    transition: 0.4s;
    outline: 1px solid #aaa;
}

.fullSide {
    width: 100%;
    margin: 1%;
}

.fullSide>div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.fullSide>div>p {
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.fullSide>div>button {
    width: 50px;
    height: 25px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
}

.fullSide>div>button:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #080808;
}

.fullSide>div>input {
    height: 25px;
    width: 40%;
    margin-right: 5px;
    box-sizing: border-box;
    color: #999;
    background-color: #222;
    resize: none;
    -webkit-app-region: no-drag;
    border: 1px solid #fff;
    text-decoration: none;
}

.fullSide>div>input:focus {
    border: 1px solid #bbb;
    outline: none;
    transition: 0.4s;
}